@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    background-image: url('img/partybackground.jpg');
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto auto auto;
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content;
    background-color: rgb(242, 129, 129);
    border-radius: 7%;
}

.card {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 58px;
}

p {
    font-size: 30px;
}

span {
    font-weight: 900;
}

a {
    color: black;
    text-decoration: none;
    font-size: 32px;
    transition: 500ms;
}

img {
    width: 150px;
    height: 150px;
}

img:hover {
    font-size: 40px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {transform: translate(1px, 1px) rotate(0deg);}

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


@media (max-width: 550px) {
    .card-container {
        border-radius: 3%;
    }

    .card {
        padding: 20px;
    }
    
    h1 {
        font-size: 50px;
    }
    
    p {
        font-size: 28px;
    }
    
    span {
        font-weight: 900;
    }
    
    a {
        color: black;
        text-decoration: none;
        font-size: 30px;
        transition: 500ms;
    }

    img {
        width: 100px;
        height: 100px;
    }
}